<!DOCTYPE html>
<html>
<head>
  <title>Test Me</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'levenshtein.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="header">
		<div id="header_inside">
			<h1><span>Test</span> Me</h1>
			<ul><% if user_signed_in? %>
				<li><%= link_to "Sign out", destroy_user_session_path %></li>
				<li><%= link_to "Manage Knowledge", "/knowledge/manage" %></li>
				<li><%= link_to "Test Yourself", "/knowledge/select" %></li>
				<% else %>
				<li><%= link_to "Sign in", new_user_session_path %></li>
				<% end %>
			</ul>		
		</div>
	</div>

<div id="content">
	<div id="content_inside">
		<div id="content_inside_sidebar">
			<%= image_tag "learn_chinese_cropped.jpg" %>
			
			<h2>Next features</h2>
			<ul>
				<li class="released">Improvement of answers evaluation algorithm (<span>Released</span>)</li>
				<li>Edit Knowledge Page</li>
				<li>Score summarization</li>
				<li>Score storage</li>
			</ul>
		</div>
		<div id="content_inside_main">
			<%= yield %>
		</div>	
	</div>	
</div>

	<div id="footer">
		<div id="footer_inside">
			<p>Copyright &copy; <a href="#">Smooth and Sleek</a> 2007 | Designed by <a href="http://www.edg3.co.uk/">edg3.co.uk</a> | Sponsored by <a href="http://www.opendesigns.org/">Open Designs</a></p>
		</div>
	</div>

</body>
</html>
